*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C3A39;
    height: 4.5rem;
}
.logo-container {
    color: white;
    padding-left: 1rem;
}
.logo-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}
.hamburger-icon {
   color: white;
   padding-right: 1rem;
}
.navbar-items {
    display: none;
}
body {
    background-color: black;
}

@media screen and (min-width: 375px) {
   .navbar-items {
    display: flex;
    gap: 0.5rem
   }
   .navbar-items a {
    text-decoration: none;
    color: white;
   }
   .fas {
    display: none;
   }
  }

.headline-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    min-height: 100%;
    background-image: url('/assets/Illustration.png');
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: right bottom;
    overflow: hidden;
}
.heading-text {
    margin-top: 7.5rem;
    color: #FF6B00;
    font-size: 3.5rem;
    font-weight: 400;
}
.subheader {
    color: white;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.description-text {
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: poppins
}
.icon-wrap {
    display: flex;
    margin-top: 0.5rem;
    width: 100vh;
    /* justify-content: space-between; */
    /* padding: 12px 151px 120px 24px; */
}
ul {
    list-style-type: none;
}
li {
    margin: 0.5rem;
    color: white;
}
