* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  position: absolute;
  width: 375px;
  height: 92px;
}

.logo-container {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.hamburger-icon {
  color: white;
  padding-right: 1rem;
}

.navbar-items {
  display: none;
}

.headline-container {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 590px;
  top: 92px;
}

.heading-text {
  width: 327px;
  height: 124px;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  font-family: 'Crete Round', serif;
  color: #ff6b00;
}

.subheader {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.description-text {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icon-wrap {
  display: flex;
  margin-top: 1.5rem;
  background: #1c1a19;
  width: 228px;
  height: 590px;
}

ul {
  list-style-type: none;
}

li {
  margin: 0.5rem;
}

.background {
  position: absolute;
  bottom: 265px;
  right: -18px;
  width: 170px;
  height: 100px;
  background-image: url(/assets/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
